.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination {
    bottom: -5px;
    margin-bottom: 10px;
}

.swiper-scrollbar-drag:hover, .swiper-scrollbar-drag:active {
    cursor: pointer;
    height: 10px;
    border-radius: 5px;
    width: auto;
    top: -3px;
}

.swiper-button-prev, .swiper-button-next {
    opacity: 0;
    visibility: hidden;
}

@media(max-width: 500px) {
    .swiper-pagination, .swiper-button-prev, .swiper-button-next {
        display: none;
    }
    .swiper-slide {
        width: 100%;
        height: 100%;
    }
}

@media(min-width: 768px) {
    .swiper-container:hover .swiper-button-prev{
        opacity: 1;
        visibility: visible;  
    }
    .swiper-container:hover .swiper-button-next{
        opacity: 1;
        visibility: visible;
    }
}
  
@media screen and (min-width: 500px) {
    .swiper-container {
        width: 500px;
    }
}

@media screen and (min-width: 620px) {
    .swiper-container {
        width: 620px;
    }
}

@media screen and (min-width: 920px) {
    .swiper-container {
        width: 920px;
    }
}

@media screen and (min-width: 1280px) {
    .swiper-container {
        width: 1280px;
    }
}

@media screen and (min-width: 1620px) {
    .swiper-container {
        width: 1620px;
    }
}